.text{
    margin: 20px 0 0 20px;
    font-size: 10px;
    display:  inline-block;
}
.profileImage{
    vertical-align: middle;
}
.title1{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
}
.rec1{
    display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
} 
.child1{
    z-index: 11;
    width: 200px;
    height:186px ;
}
.child2{
    
   position: relative;
    background-color: rgb(225, 228, 229);
    width: 362px;
    height:180px ;
}
.child2 h1{
    width: 200px;
    height: 130px;
font-size: 10px;
position: absolute;
top: 30%;
left: 12%;
line-height: 3;


}
.icon{
    display: inline;
    width: 40px;
    height: 5px;
    position: absolute;
    top: 70%;
    left: 10%;
    vertical-align: middle;
}
.time{
    display: inline;
    width: 40px;
    height: 5px;
    font-size: 9px;
    position: absolute;
    top: 70%;
    left: 18%;
}
.LargePic{
    margin-top: 20px;
}
.Bridge{
    position: relative;
}
.Ontop{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 230px;
    left: 250px;

}
.MiddleDiv{
    display: inline;
    vertical-align: -100px ;
}
.MiddleDiv2{
   position: absolute;
   top: 550px;
   left: 700px;
}
.margin{
    margin-top: 75px;
    margin-left: 100px;
}
.endPage{
    position: relative;
    background-color: rgb(21, 21, 40);
    width: 1200px;
    height: 200px;
}
.endPage h1{
    color: white;
    font-size: 15px;
    
    margin-left: 20px;
    line-height: 3;
}
.endPage1{
    display: inline;
    
}
.endPage2{
    position: absolute;
    left: 150px;
    top: 0px;
    
}
.endPage3{
    position: absolute;
    left: 300px;
    top: 0px;
}
.geolabowl{
    position: absolute;
    left: 1000px;
    top: 80px;
    transform: rotate(0deg);
    transition: 2s;

}
.geolabowl:hover{
    transform:  rotate(360deg);
    
    transition: 2s;
}

